@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Acompanhamento Docente</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="~/lib/materialize/css/materialize.css" media="screen,projection" />
    
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="">Acompanhamento Docente</a>
                
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    @*Se o usuário esta logado exibir o link de logout*@
                    @if (SignInManager.IsSignedIn(User))
                    {

                        
                        <li>
                            <form method="post" asp-controller="account" asp-action="logout">
                                <button type="submit" style="width:auto"
                                        class="waves-effect waves-light btn">
                                    Logout @User.Identity.Name
                                </button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-controller="account" asp-action="register">
                                Registrar
                            </a>
                        </li>
                        <li>
                            <a asp-controller="account" asp-action="login">
                                Login
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            @*Se o usuário esta logado exibir o link de logout*@
            @if (SignInManager.IsSignedIn(User))
            {
                <li>
                    <form method="post" asp-controller="account" asp-action="logout">
                        <button type="submit" style="width:auto"
                                class="waves-effect waves-light btn">
                            Logout @User.Identity.Name
                        </button>
                    </form>
                </li>
               
                
               
            }
            else
            {
                <li>
                    <a asp-controller="account" asp-action="register">
                        Registrar
                    </a>
                </li>
                <li>
                    <a asp-controller="account" asp-action="login">
                        Login
                    </a>
                </li>
            }
        </ul>
        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - bootstrap - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="~/lib/materialize/js/materialize.js"></script>
    
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>

        $(document).ready(function () {
            $('.sidenav').sidenav();
        });



    </script>



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
