@model AcompanhamentoDocente.Models.TbCargo

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center"><h1>Novo Cargo</h1></div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cargo" class="control-label">Cargo</label>
                <input asp-for="Cargo" class="form-control" />
                <span asp-validation-for="Cargo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NiveldeAcesso" class="control-label">Nível de Acesso</label>
                <input asp-for="NiveldeAcesso" class="form-control" placeholder="Insira números de 0 à 4" />
                <span asp-validation-for="NiveldeAcesso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="center">
                    <p id="l_botao">
                        <button id="btsalvarpequeno" class="btn-small waves-effect waves-light" type="submit" name="action">
                            Salvar
                            <i class="material-icons left">save</i>
                        </button>
                        <a href='@Url.Action("Index", "Cargo", new { id = ViewBag.admin.Codigo})' class="waves-effect waves-light btn-small" id="btlistapequeno">
                            <span class="material-icons">

                                view_list

                            </span>
                            Lista
                        </a>
                    </p>
                </div>
            </div>
            <input type="hidden" name="id" value="@ViewBag.admin.Codigo" />
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
