@model AcompanhamentoDocente.Models.TbCargo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center">
    <h1>Detalhes do Cargo</h1>

    
</div>
<div>
    <dl class="row">

        <dd class="col-sm-10">
            <label class="negrito">Cargo: </label> @Html.DisplayFor(model => model.Cargo)
        </dd>

        <dd class="col-sm-10">
            <label class="negrito">Nivel de Acesso: </label> @Html.DisplayFor(model => model.NiveldeAcesso)
        </dd>
    </dl>
</div>
<div>
    <div class="center">
        <p id="l_botao">
            <a href='@Url.Action("Edit", "Cargo", new { id = ViewBag.Admin.Codigo, cargo = Model.Codigo })' class="waves-effect waves-light btn-small" id="btmodificarpequeno">
                <span class="material-icons">
                    mode_edit
                </span>
                Modificar
            </a>

            <a href='@Url.Action("Index", "Cargo", new { id = ViewBag.Admin.Codigo})' class="waves-effect waves-light btn-small" id="btlistapequeno1">
                <span class="material-icons">

                    view_list

                </span>
                Componentes
            </a>
        </p>
    </div>
    
</div>
