@model AcompanhamentoDocente.ViewModel.CriterioViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center"><h1>Novo Critério</h1></div>



    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Criterio" class="negrito"></label>
                    <textarea rows="10" cols="40" maxlength="500" asp-for="Criterio" class="form-control">Critério</textarea>
                    <span asp-validation-for="Criterio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CodigoClassificacaoCriterio" class="negrito">Classificação Critério</label>
                    @Html.DropDownListFor(model => model.CodigoClassificacaoCriterio, (IEnumerable<SelectListItem>)ViewBag.CodigoClassificacaoCriterio, "--Selecione", new { @id = "CodigoClassificacaoCriterio", @class = "form-control", @placeholder = "Selecione a Classificação" })
                    <span asp-validation-for="CodigoClassificacaoCriterio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CodigoCCUrricular" class="control-label">Componente Curricular</label>
                    @Html.DropDownListFor(model => model.CCurricular, (IEnumerable<SelectListItem>)ViewBag.CodigoCCurricular, "--Selecione", new { @id = "Componentes", @class = "select", @multiple = "true", @style = "width:350px", @placeholder = "Selecione a Classificação" })
                    <span asp-validation-for="CodigoClassificacaoCriterio" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <div class="center">
                        <p id="l_botao">
                            <button id="btsalvarpequeno" class="btn-small waves-effect waves-light" type="submit" name="action">
                                Salvar
                                <i class="material-icons left">save</i>
                            </button>
                            <a href='@Url.Action("Index", "CriterioView", new { id = ViewBag.admin.Codigo})' class="waves-effect waves-light btn-small" id="btlistapequeno">
                                <span class="material-icons">

                                    view_list

                                </span>
                                Lista
                            </a>
                        </p>
                    </div>
                </div>
                <input type="hidden" name="id" value="@ViewBag.admin.Codigo" />
            </form>
        </div>
    </div>



    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
