@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Bem Vindo, Toque em DashBoard para acessar todos nossos Recursos</h1>
    <p>© 2021 - SESI-SP - Divisão de Educação</p>
</div>

