@model AcompanhamentoDocente.Models.TbModalidade

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center"><h1>Detalhes da Modalidade</h1></div>

<div>
    
    <dl class="row">
        <dd class = "col-sm-10">
            <label class="negrito">Modalidade: </label> @Html.DisplayFor(model => model.Modalidade)
        </dd>
    </dl>
</div>
<div>
    <div class="center">
        <p id="l_botao">
            <a href='@Url.Action("Edit", "Modalidade", new { id = ViewBag.Admin.Codigo, mod = Model.Codigo })' class="waves-effect waves-light btn-small" id="btmodificarpequeno">
                <span class="material-icons">
                    mode_edit
                </span>
                Modificar
            </a>

            <a href='@Url.Action("Index", "Modalidade", new { id = ViewBag.Admin.Codigo })' class="waves-effect waves-light btn-small" id="btlistapequeno1">
                <span class="material-icons">

                    view_list

                </span>
                Componentes
            </a>
        </p>
    </div>
    
</div>
