/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root {
    --primary: #8e558e;
    --secondary: #8e558e;
    --title: #e0e0e0;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
   }

.btn-primary, .btn-floating, .waves-effect, .linha_tabela {
    color: #fff;
    text-emphasis-color: white;
    text-decoration-color: white;
    background-color: var(--primary);
    border-color: var(--primary);
    width:180px;
    text-align: center;
    font-size: 12px;
    
}

.linha_tabela {
    color: #fff;
    text-emphasis-color: white;
    text-decoration-color: white;
    background-color: var(--primary);
    border-color: var(--primary);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #f1f0f1;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*
    inicia personalizacao do site
*/

#rotulo{
    text-align : left;

}
.material-icons {
    vertical-align: middle;
}

.negrito {
    font: bolder ;
}

#adicionar {
    background-color: var(--primary);
}

h1 {
    font-size: x-large;
    color: var(--primary);
}
h3 {
    font-size: xx-large;
    color: var(--primary);
}
.range-field {
    display: inline-block;
    width: 20px;
    height: 20px;
    max-width:50px;
    padding: 0;
}
.linha_tabela {
    color: black;
    text-emphasis-color: white;
    text-decoration-color: white;
    background-color: white;
    border-color: var(--primary);
}
#btestado, #btcidade, #btescola, #btcargo, #btmodalidade, #btano, #btccurricular, #btadministrar, 
#btestado1, #btcidade1, #btescola1, #btcargo1, #btmodalidade1, #btano1, #btccurricular1 {
    background-color: white;
    color: var(--primary);
    width: 195px;
    text-align: left;
}
#btadministrar1, btnDetalhes {
    background-color: var(--primary);
    color: white;
    width: 200px;
    text-align: center;
}

#bteditar,#btdetalhes,#btremover, #btavaliar, #btlistar {
    background-color: var(--primary);
    color: white;
    width: 50px;
    text-align: center;
}

.dropdown-content {
    height: 500px;
    background-color: white;
}

select {
    background-color: #f1f0f1;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-family: sans-serif;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
    text-transform: none;
    border-bottom: 1px solid #9e9e9e;
}
    
select:focus {
        outline: 1px solid #c9f3ef;
    }

#l_botao {
    line-height: 3;
}

#btsalvarpequeno, #btlistapequeno {
    color: #fff;
    text-emphasis-color: white;
    text-decoration-color: white;
    background-color: var(--primary);
    border-color: var(--primary);
    width: 150px;
    text-align: center;
    font-size: 12px;
}
