@model AcompanhamentoDocente.ViewModel.ColaboradorViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center"><h1>Inserir dados novo Colaborador</h1></div>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            
                <input type="hidden" asp-for="Codigo" class="browser-default" />
            
            <div class="form-group">
                <label asp-for="Nome" class="control-label">Nome</label>
                <input asp-for="Nome" class="form-control" placeholder="Nome do Colaborador" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">E-mail Corporativo</label>
                <input asp-for="Email" class="form-control" placeholder="E-mail Corporativo do Colaborador" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CodigoCargo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.CodigoCargo, Model.cargo, new { @id = "CodigoCargo", @class = "form-control" })

                </div>
            </div>
                <div class="center">

                    <h>
                        Inativo
                        <input asp-for="Ativo" type="range" min="0" max="1" class="range-field" />
                        Ativo
                    </h>
                    <span asp-validation-for="Ativo" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="CodigoEscola" class="form-control" />
                <input type="hidden" asp-for="CodigoAdministrador" class="form-control" />
                <div class="form-group">
                    <div class="center">
                        <p id="l_botao">
                            <button id="btsalvarpequeno" class="btn-small waves-effect waves-light" type="submit" name="action">
                                Salvar
                                <i class="material-icons left">save</i>
                            </button>
                            <a href='@Url.Action("Index", "ColaboradorView", new { id = ViewBag.admin.Codigo, esc = ViewBag.esc})' class="waves-effect waves-light btn-small" id="btlistapequeno">
                                <span class="material-icons">

                                    view_list

                                </span>
                                Lista Colaboradores
                            </a>
                        </p>
                    </div>
                </div>

        </form>
    </div>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
